:root {
    --themePrimary: #ffffff;
    --themeLighterAlt: #767676;
    --themeLighter: #a6a6a6;
    --themeLight: #c8c8c8;
    --themeTertiary: #d0d0d0;
    --themeSecondary: #dadada;
    --themeDarkAlt: #eaeaea;
    --themeDark: #f4f4f4;
    --themeDarker: #f8f8f8;
    --neutralLighterAlt: #151517;
    --neutralLighter: #1e1e21;
    --neutralLight: #2d2d30;
    --neutralQuaternaryAlt: #363639;
    --neutralQuaternary: #3d3d41;
    --neutralTertiaryAlt: #5c5c61;
    --neutralTertiary: #ffbcdd;
    --neutralSecondary: #ffc7e2;
    --neutralSecondaryAlt: #ffc7e2;
    --neutralPrimaryAlt: #ffd2e8;
    --neutralPrimary: #ff9ccc;
    --neutralDark: #ffe8f3;
    --black: #fff3f9;
    --white: #0c0c0d;
  }